<nz-table [nzData]="pageListOfData">
  <thead>
    <tr>
      <th>名称</th>
      <th>课程</th>
      <th>总分</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pageListOfData">
      <td>{{ data.paperTitle }}</td>
      <td>{{ data.courseName }}</td>
      <td>{{ data.totalScores }}</td>
      <td>{{ data.createTime }}</td>
      <td (click)="showPage(data.pageId)">
        <button nz-button nzType="default">查看</button>
      </td>
    </tr>
  </tbody>
</nz-table>
