<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="选择科目"></nz-step>
  <nz-step nzTitle="选择试卷生成方式"></nz-step>
  <nz-step nzTitle="预览试卷"></nz-step>
</nz-steps>

<div class="steps-content">
  <span [ngSwitch]="index">
    <p *ngSwitchCase="0">
      <app-select-subject
        (selectedId)="getCourseId($event)"
        (checkedIdsOut)="getTypeIds($event)"
      ></app-select-subject>
    </p>
    <p *ngSwitchCase="1">
      <app-select-title></app-select-title>
    </p>
    <p *ngSwitchCase="2">3</p>
    <p *ngSwitchDefault>4</p>
  </span>
</div>
<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>上一步</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
    <span>下一步</span>
  </button>
  <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
    <span>完成</span>
  </button>
</div>
